* {
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}
/* Menu Superior  */
header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 26px;
    height: 10%;
    padding: 22px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}
/*  Chat   */

footer {
    position: fixed;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}
footer ion-icon {
    font-size: 25px;
}

footer input {
    border: 0;
    outline: none;
    font-weight: 400;
}
footer p {
    position: absolute;
    left: 18px;
    bottom: 8px;
    font-size: 16px;
    color: gray;
    font-weight: 300;
  }
main{
    margin-top: 84px;
  margin-bottom: 85px;
}
  
.Caixa-de-msg {
    min-height: 40px;
    margin-bottom: 5px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .Caixa-de-msg p {
    font-size: 14px;
    margin-left: 8px;
    line-height: 20px;
    word-break: break-word;
  }
  
  .login-logout {
    background-color: #dcdcdc;
  }
  
  .private {
    background-color: #ffdede;
  }

  time {
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;
  }
  
  span {
    font-weight: 700;
  }
  aside {
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  aside.info {
    overflow-y: scroll;
  }
  .hide {
    display: none;
  }
  .fundo-escuro {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(100vw - 250px);
    height: 100%;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.6);
  }
  aside.info {
    overflow-y: scroll;
  }
  
  aside ion-icon {
    font-size: 20px;
  }
  
  
  h3.enunciados-barra-lateral {
    width: 190px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    margin: 20px auto;
    text-align: center;
  }
  
  div.lista-de-contatos {
    display: flex;
    flex-direction: column;
  }
  
  div.marcador {
    margin-left: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  h4 {
    font-size: 16px;
    display: inline;
    margin-left: 6px;
    word-break: break-all;
  }
  
  .contato.selected .check {
    color: #28bb25;
  }
  
  .contato .check {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    right: 10px;
  }
  
  .visibilidade.selected .check {
    color: #28bb25;
  }
  
  .visibilidade .check {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    right: 10px;
  }